<div class="mb-4">
  <section id="top">
    <div class="container-fluid top-bg-img">
      <header>
        <%= render "shared/header" %>
      </header>
      <h1 class="display-4">Useful Contents for Dance Circles</h1>
      <p class="lead">大学ダンスサークル向け便利ツール</p>
      <a class="btn btn-outline-primary btn-lg" href="content" role="button">Check Here</a>
    </div>
  </section>
</div>

<div class="py-4">
  <section id="info">
    <div class="container">
      <p>ダンス情報系サイトZinniaでは、大学ダンスサークルの活動状況や公演情報を発信しています。</p>
      <p>また、ダンスサークルに所属しているダンサー向けに様々な便利ツールを提供しています。</p>
    </div>
  </section>
</div>

<div class="py-4">
  <section id="latestposts">
    <div class="container">
      <h1>LATEST POSTS</h1>
      <p>大学ダンスサークルの活動状況や公演情報が閲覧できます。</p>
      <p>特にどのサークルに入ろうか悩んでいる新入生やOB・OGさん、<p>
      <p>保護者の方々は要チェック！</p>

      <div class="row">
        <div class="col-md-3">
          <div class="card mb-3">
            <img src="https://cdn.sanity.io/images/oxekkfaj/production/7d43bc17b75273266f96ad32f92316d9639e3744-3000x2000.jpg?w=2000" alt="" class="img-fluid">
            <div class="card-body d-flex justify-content-between">
              <h4 class="card-title">早稲田大学SesSion</h4>
              <p class="lead">
                夏公演『ONES』
                date: 2020/11/10, 11
                place: 江戸川区総合文化センター
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3">
            <img src="https://cdn.sanity.io/images/oxekkfaj/production/7d43bc17b75273266f96ad32f92316d9639e3744-3000x2000.jpg?w=2000" alt="" class="img-fluid">
            <div class="card-body d-flex justify-content-between">
              <h4 class="card-title">早稲田大学SesSion</h4>
              <p class="lead">
                夏公演『ONES』
                date: 2020/11/10, 11
                place: 江戸川区総合文化センター
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3">
            <img src="https://cdn.sanity.io/images/oxekkfaj/production/7d43bc17b75273266f96ad32f92316d9639e3744-3000x2000.jpg?w=2000" alt="" class="img-fluid">
            <div class="card-body d-flex justify-content-between">
              <h4 class="card-title">早稲田大学SesSion</h4>
              <p class="lead">
                夏公演『ONES』
                date: 2020/11/10, 11
                place: 江戸川区総合文化センター
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3">
            <img src="https://cdn.sanity.io/images/oxekkfaj/production/7d43bc17b75273266f96ad32f92316d9639e3744-3000x2000.jpg?w=2000" alt="" class="img-fluid">
            <div class="card-body d-flex justify-content-between">
              <h4 class="card-title">早稲田大学SesSion</h4>
              <p class="lead">
                夏公演『ONES』
                date: 2020/11/10, 11
                place: 江戸川区総合文化センター
              </p>
            </div>
          </div>
        </div>
      </div>
      <a class="btn btn-outline-primary" href="#" role="button">投稿一覧へ</a>
    </div>
  </section>
</div>

<div class="py-4">
  <section id="tickets">
    <div class="container">
      <h1>TICKETS</h1>
      <p class="lead">
        Zinniaでは、現在チケット受付を行っている公演に限り、公演チケットの予約もできます。まずは所属のサークル員から電子チケットをもらい、そちらに記載のチケットIDを入力することで、チケットの予約を行うことができます。
        予約完了後、メールにてQRコードを送付致します。公演当日は入場の際にそのQRコードが必要となりますので、当日まで保管しておいてください。
      </p>
      <a class="btn btn-outline-primary" href="#" role="button">予約画面へ</a>
    </div>
  </section>
</div>

<div class="py-4">
  <section id="hallinfo">
    <div class="container">
      <h1>HALL INFO</h1>
      <p class="lead">
        ダンス公演の会場やリハ施設の検索が可能です。
        関東圏でホールや体育館をお探しの方は要チェック！
      </p>
      <img src="https://cdn.sanity.io/images/oxekkfaj/production/7d43bc17b75273266f96ad32f92316d9639e3744-3000x2000.jpg?w=2000" alt="" class="col-md-4">
      <a class="btn btn-outline-primary" href="#" role="button">検索画面へ</a>
    </div>
  </section>
</div>