<% @page_title = "Profile" %>

<a href="#">編集</a>

<table class="attr">
  <tr>
    <th>ユーザー名</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.mail %></td>
  </tr>
</table>