<nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #FFF">
  <div class="container">
    <a class="navbar-brand" href="/">Zinnia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">新規登録</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">ログイン</a>
        </li>
      </ul>
    </div>
  </div>
</nav>