<ul class="post-footer">
  <% if current_user && current_user == post.author %>
    <%= link_to "編集", [:edit, post] %> |
    <%= link_to "削除", post, method: :delete, data: { confirm: "本当に削除しますか？" } %>
  <% end %>
  <li>
    <% post.created_at.strftime("%Y/%m/%d %H:%M") %>
  </li>
</ul>